@using TwistFood.Service.ViewModels.Orders;
@model OrderDetailForAdminViewModel

<div class="d-flex justify-content-center" style="margin-top:150px; margin-bottom:20px">

    <div class="card px-4 pt-4 pb-4 pe-4" style="width:500px;">
        <div class="card-body">
            <h3>Update order detail</h3>
            <form asp-action="Update" asp-area="admin" asp-controller="orders" asp-route-Id="@Model.Id" method="post">
                <div class="text-center mt-3">
                   <img width="100" height="100"  src="~/@Model.ProductImagePath" />
                </div>
                <div class="text-center mt-4">
                    <label asp-for="ProductName" class="control-label"></label>
                   
                </div>
               
                <div class="text-center mt-4">
                    <label asp-for="Price" class="control-label"></label>
                </div>
                <div class="mt-4">
                    <label asp-for=Amount class="control-label"></label>
                    <input type="number" asp-for=Amount class="form-control">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="mt-4 mb-2 d-flex justify-content-end">
                    <input type="submit" class="btn btn-success me-2" value="Save">
                    <a asp-area="admin" asp-controller="orders" asp-action="index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>

        </div>
    </div>

</div>
