@using TwistFood.Service.Dtos;
@model CategoryDto

<div class="d-flex justify-content-center" style="margin-top:150px">

    <div class="card px-4 pt-4 pb-4 pe-4" style="width:500px;">
        <div class="card-body">
            <h3>Create Category</h3>
            <form asp-area="admin" asp-action="create" asp-controller="categories" method="post">
                <div class="mt-4">
                    <input type="text" asp-for=CategoryName class="form-control form-control-solid" placeholder="Name">
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>               
                <div class="mt-4 mb-2 d-flex justify-content-end">
                    <input type="submit" class="btn btn-success me-2" value="Create">
                    <a asp-area="admin" asp-controller="categories" asp-action="index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>

        </div>
    </div>

</div>
