@using TwistFood.Service.ViewModels.Categories;
@model CategoryViewModels

<div class="d-flex justify-content-center" style="margin-top:250px">
    <div class="card px-4 pt-4 pb-4 pe-4">
        <form asp-action="delete" asp-controller="categories" asp-area="admin" asp-route-Id="@Model.Id" method="post">
            <div class="card-body">
            <h3>
                Siz haqaqitdan ham @Model.CategoryName 
                kategoriyasini o`chirmoqchimisiz?
            </h3>
            <div class="mt-4 mb-2 d-flex justify-content-end">
                <input type="submit" class="btn btn-danger me-2"  value="Delete">
                    <a asp-area="admin" asp-controller="categories" asp-action="index" class="btn btn-secondary">Cancel</a>
                </div>
        </div>    
    
        </form>
        
    </div>

</div>