
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
    <link rel="shortcut icon" href="~/Assets/images/favicon.png" type="">

  <title> TwistFood </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">


  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/ProductStyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/fonts/style.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
  <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="https://localhost:7049/Assets/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              TwistFood
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                                <a class="nav-link" asp-controller="home" asp-action="index">Asosiy <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                                <a class="nav-link" asp-controller="products" asp-action="index">Menu</a>
              </li>
              <li class="nav-item">
                                <a class="nav-link" asp-controller="home" asp-action="about">Biz haqimizda</a>
              </li>
            </ul>
            <div class="user_option">
                            @await Component.InvokeAsync("DetailsCount")
                            @await Component.InvokeAsync("Identity")
            </div>
          </div>
        </nav>
      </div>
    </header>
    </div>
    <!-- end header section -->
        <div class="container" id="start">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
        <div class="footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              TwistFood
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
            </p>
            @*<div class="footer_social">
                        <a href="#"><i class="socicon-telegram text-primary mr-5"></i></a>
                <a href="#" class="btn btn-icon btn-light-instagram me-5 "><i class="fab fa-instagram fs-4"></i></a>
                <a href="#" class="btn btn-icon btn-light-youtube me-5 "><i class="fab fa-youtube fs-4"></i></a>
            </div>*@
          </div>
        </div>
      <div class="footer-info">
        <p>
                    &copy; <span id="displayYear"></span> <a class="link-dark" href="https://github.com/flexdevs">FlexDevs</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Order.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>