@using TwistFood.Service.Dtos.Accounts;
@model AccountUpdateDto
@{
    ViewData["Title"] = "Profil Page";
    Layout = "_AccountLayout.cshtml";
}

<div class="container">
    <div class="forms h-75">
        <div class="form" style="width:400px">
            <span class="title">Profilim</span>
            <form asp-area="" asp-controller="accounts" asp-action="update" method="post">
                <div class="input-field">
                    <input type="text" asp-for=FullName placeholder="@Model.FullName" required>
                    <i class="uil uil-user"></i>
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>

                <div class="input-field button">
                    <input type="submit" value="O'zgarishni saqlash">
                </div>
            </form>
        </div>
    </div>
</div>